In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('data.csv')

In [7]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,01-Jan-2021,13996.10,14049.85,13991.35,14018.50,258090905,15873.75
1,04-Jan-2021,14104.35,14147.95,13953.75,14132.90,494999295,28705.09
2,05-Jan-2021,14075.15,14215.60,14048.15,14199.50,492475349,30872.87
3,06-Jan-2021,14240.95,14244.15,14039.90,14146.25,632323316,34615.55
4,07-Jan-2021,14253.75,14256.25,14123.10,14137.35,559173512,33446.47

In [9]:
print(df['Date'].dtype)

object

In [11]:
print(df['Shares Traded'])

0      258090905
1      494999295
2      492475349
3      632323316
4      559173512
         ...
171    241053924
172    230354386
173    388191629
174    503310763
175    508285916
Name: Shares Traded, Length: 176, dtype: int64

In [12]:
print(df['Shares Traded'].astype('category'))

0      258090905
1      494999295
2      492475349
3      632323316
4      559173512
         ...
171    241053924
172    230354386
173    388191629
174    503310763
175    508285916
Name: Shares Traded, Length: 176, dtype: category
Categories (176, int64): [207032153, 216272488, 217405743, 224921644, ..., 919178208, 929566952, 935629058, 1103644519]